# Python Virtual Environment
.venv/
__pycache__/

# Node Modules (if using frontend)
node_modules/

# Environment Variables
.env


# Ignore uploaded videos and extracted audio
backend/uploads/
backend/audio/
